.buying {
  padding-top: 35px;
  padding-bottom: 35px;
  background-color:white;
}

.buying .inner-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.buying .image-section {
  display: grid;
  grid-template-columns: auto 80px;
  column-gap: 15px;
  margin: 0;
  padding: 0;
}

.buying .image-section .current-image {
  width: 100%;
  background-size: contain;
}

.buying .image-section .current-image img {
  width: 100%;
  object-fit: contain;
}

.buying .image-section .image-picker {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.buying .image-section .image-picker div {
  width: 80px;
  margin: 0;
  margin-bottom: 15px;
  padding: 2px;
  border: solid 2px #e6e6e6;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 80px;
}

.buying .image-section .image-picker div.current {
  border: solid 2px #19232d;
}

.buying .bubble-picker {
  display: none;
}

.buying .form-section {
  margin: 0;
  padding: 0;
  margin-left: 65px;
}

.buying .form-section h2 {
  margin: 15px 0;
  padding: 0;
  font-family: Quicksand;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
}

.buying .form-section .product-price {
  margin: 0;
  padding: 0;
  margin-bottom: 7px;
}

.buying .form-section .product-price .original-price {
  text-decoration: line-through;
  font-family: Quicksand;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.78;
  letter-spacing: normal;
  color: #19232d;
  margin-right: 10px;
}

.buying .form-section .product-price .normal-price {
  font-family: Quicksand;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.78;
  letter-spacing: normal;
  color: #19232d;
  margin-right: 5px;
}

.buying .form-section .product-price .reduced-price {
  font-family: Quicksand;
  font-size: 18px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.78;
  letter-spacing: normal;
  color: #db1111;
  margin-right: 5px;
}

.buying .form-section .product-price .savings {
  padding: 2px 8px;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: white;
  background-color: #db1111;
  vertical-align: text-bottom;
}

.buying .form-section .vat, .buying .form-section .variant-text, .buying .form-section .quantity-text {
  padding: 0;
  margin: 0;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #19232d;
}

.buying .form-section .vat {
  margin-bottom: 30px;
}

.buying .form-section .variant-picker select {
  width: 100%;
  height: 44px;
  border: solid 1px #e6e6e6;
  background-color: white;
  margin: 0;
  margin-bottom: 15px;
  font-family: Quicksand;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #19232d;
}

.buying .form-section .quantity {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.buying .form-section .quantity .minus, .buying .form-section .quantity .plus {
  margin: 0;
  padding: 16px 5px;
  width: 24px;
  height: 12px;
  border: solid 1px #e6e6e6;
  background-color: white;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  line-height: 44px;
}

.buying .form-section .quantity .minus img, .buying .form-section .quantity .plus img {
  vertical-align: top;
}

.buying .form-section .quantity .quantity {
  margin: 0;
  padding: 0px 16px;
  width: 64px;
  height: 44px;
  border-top: solid 1px #e6e6e6;
  border-bottom: solid 1px #e6e6e6;
  background-color: white;
  font-family: Quicksand;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 44px;
  letter-spacing: normal;
  text-align: center;
  color: #1a2734;
  display: inline-block;
  vertical-align: top;
}

.buying .form-section .btn {
  margin: 0;
  font-family: Quicksand;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.85;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: white;
  background-color: #19232d;
  border-radius: 0;
  width: 100%;
  transition: none;
}

.buying .form-section .btn img {
  margin: 0;
  padding: 0;
  vertical-align: text-bottom;
  margin-left: 10px;
}

.buying .add-to-cart {
  border: none;
}

@media screen and (max-width: 1024px) {
  .buying .inner-container {
    margin: 0px;
    grid-template-columns: 100%;
  }
  .buying .image-section {
    display: block;
    overflow: hidden;
  }
  .buying .image-section .current-image {
    display: none;
  }
  .buying .image-section .image-picker {
    flex-direction: row;
  }
  .buying .image-section .image-picker div {
    width: 296px;
    height: 300px;
    margin: 0 4px;
    margin-bottom: 15px;
    padding: 0;
    border: none;
    display: none;
  }
  .buying .image-section .image-picker div.current {
    width: 100%;
    border: none;
    display: block;
  }
  .buying .bubble-picker {
    display: flex;
    flex-direction: row;
    height: 16px;
    justify-content: center;
  }
  .buying .bubble-picker div {
    border-radius: 100%;
    width: 10px;
    height: 10px;
    margin: 3px 5px;
    background-color: #e6e6e6;
  }
  .buying .bubble-picker div.current {
    background-color: #19232d;
  }
  .buying .form-section {
    margin: 0;
    padding: 0;
  }
  .buying .form-section h2 {
    margin: 15px 0;
    padding: 0;
    font-family: Quicksand;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.07;
    letter-spacing: normal;
    text-align: left;
  }
  .buying .form-section .product-price {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
  }
  .buying .form-section .vat {
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  .buying .form-section .btn {
    margin: 0;
    font-family: Quicksand;
    font-size: 11px;
    font-weight: 500;
    line-height: 1.91;
    letter-spacing: 3.3px;
    width: 100%;
  }
  .buying .add-to-cart, .buying select {
    box-sizing: border-box;
  }
}
