.hero {
  background-size: cover;
  background-position: center;
  position: relative;
  height: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.hero-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero .title {
  font-size: 46px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: white;
  text-transform: capitalize;
}

.hero .subtitle {
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 60px;
  color: white;
  margin-top: 0px;
  text-transform: initial;
}

.hero .hero-cta {
  font-size: 12px;
  font-weight: 500;
  padding: 20px;
  width: fit-content;
  text-transform: uppercase;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .hero {
    height: 300px;
  }

  .hero .hero-content {
    flex: 1;
  }

  .hero .title {
    font-size: 27px;
  }

  .hero .subtitle {
    margin-top: 5px;
    font-size: 20px;
    margin-bottom: 25px;
  }

  .hero .hero-cta {
    padding: 10px 15px 10px 15px;
  }
}

@media screen and (min-width: 769px) {
  .hero-page-width {
    padding: 0 40px;
  }

  .hero-inner-container {
    margin: 0px 40px;
  }
}
