@import "../common.module.css";

.use-case {
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: white;
}

.use-case .use-case-header {
  padding-bottom: 50px;
}

.use-case .use-case-header h1 {
  padding: 0;
  margin: 0;
}

.use-case .use-case-header .use-case-description {
  padding: 0;
  margin: 0;
  padding-top: 30px;
  font-family: Quicksand;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: center;
  color: #19232d;
}

.use-case .content-container {
  align-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.use-case .content-container:not(:last-child) {
  margin-bottom: 50px;
}

.use-case .image {
  width: 100%;
  max-height: 452px;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.use-case .content-title {
  font-family: Quicksand;
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: #19232d;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.use-case .content-description {
  font-family: Quicksand;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: var(--dark);
  color: #19232d;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.use-case .use-case-text-section {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 0 50px;
}

.use-case .btn {
  padding: 13px 15px;
}

@media screen and (max-width: 768px) {
  .use-case .btn {
    padding: 10px 15px;
  }
  .use-case .use-case-text-section {
    display: block;
    grid-area: text;
    padding: 0;
  }
  .use-case .use-case-image-section {
    grid-area: image;
    margin-bottom: 15px;
  }
  .use-case .content-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "image"
      "text";
  }
  .use-case .content-title,
  .use-case .content-description {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .use-case .content-container:not(:last-child) {
    margin-bottom: 30px;
  }
  .use-case {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .use-case .use-case-header .use-case-description {
    padding-top: 15px;
  }
  .use-case .use-case-header {
    padding-bottom: 20px;
  }
}
