@font-face {
    font-family: 'Quicksand';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('../assets/fonts/quicksand-v24-latin-500.woff2') format('woff2'),
        url('../assets/fonts/quicksand-v24-latin-500.woff') format('woff');
}

@font-face {
    font-family: 'Quicksand';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('../assets/fonts/quicksand-v24-latin-regular.woff2') format('woff2'),
        url('../assets/fonts/quicksand-v24-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('../assets/fonts/Poppins-Bold.ttf') format('truetype');
}
