.cta {
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
  min-height: 320px;
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.cta a {
  text-transform: uppercase;
}
